# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Logfiles
*.log

# Temp folders
bin/
obj/
build/

# Eclipse temp files
.metadata/
RemoteSystemsTempFiles/

# Other local files to ignore
.tags*
*.sublime-workspace
.DS_Store
.rake_t_cache
