[submodule "vendor/protobuf-c"]
	path = vendor/protobuf-c
	url = https://github.com/atomicobject/protobuf-c
	branch = master
[submodule "vendor/kinetic-protocol"]
	path = vendor/kinetic-protocol
	url = https://github.com/Seagate/kinetic-protocol.git
	branch = 2.0.4
[submodule "vendor/socket99"]
	path = vendor/socket99
	url = https://github.com/silentbicycle/socket99.git
	branch = master
