[submodule "kinetic-protocol"]
	path = vendor/kinetic-protocol
	url = https://github.com/Seagate/kinetic-protocol.git
	branch = features/batch-operation
[submodule "socket99"]
	path = vendor/socket99
	url = https://github.com/silentbicycle/socket99.git
	branch = master
[submodule "vendor/unity"]
	path = vendor/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "vendor/FlameGraph"]
	path = vendor/FlameGraph
	url = https://github.com/brendangregg/FlameGraph.git
[submodule "vendor/json-c"]
	path = vendor/json-c
	url = https://github.com/json-c/json-c
[submodule "vendor/protobuf-c"]
	path = vendor/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c.git
	branch = master
